In [ ]:
# Инструменты для оперативной работы с данными

In [4]:
import pandas as pd
import os

In [5]:
DATA_PATH = os.path.join('names')

In [39]:
def count_top3(years):
    df = pd.DataFrame()
    for year in years:
            frame = pd.read_csv((os.path.join(DATA_PATH, f'yob{year}.txt')), names=['Name', 'Gender', 'Count'])
            df = pd.concat([df, frame], names=['Name', 'Gender'], sort=True)
    return df.sort_values(by=['Count']).head(3)

count_top3([1900, 2000, 2017])

       Count Gender     Name
29253    5.0      M    Mumin
28329    5.0      M  Crimson
28330    5.0      M      Cru

In [40]:
def count_dynamics(years):
    names_by_year = {}
    for year in years:
        names_by_year[year] = pd.read_csv((os.path.join(DATA_PATH, f'yob{year}.txt')),
            names=['Name','Gender','Count']
        )
        names_all = pd.concat(names_by_year, names=['Year', 'Pos'])
        gender_dynamics = names_all.groupby([names_all.index.get_level_values(0), 'Gender']).sum()
    return gender_dynamics

count_dynamics([1900, 1950, 2017])

               Count
Year Gender
1900 F        299800
     M        150483
1950 F       1713151
     M       1790549
2017 F       1711811
     M       1834490